* {
    margin: 0;
    padding: 0
}
.svg1 {
    background:yellow;
    position:absolute;
    width: 100%;
    height: 100%
}

.div1 {
    position:relative; 
    width:200px; 
    height:100px;
    border:3px solid green
}


.svg2 {
    background:yellow;
    width: 100%;
    height: 100%
}

.div2 {
    width: 200px;
    height: 100px
}

.logic-gate {
    width: 90%;
    height: 90%;
    border:2px solid green;
    margin:5px
}

#palette {
    background-color: lightgrey
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden */
}

#canvas {
    background-color: lightgrey;
    height: 400px  
}